$color-sun: #FFDD91; // Yellow
$color-rays: #D6B2A5; // Dusty Pink 
$color-alert: #B093A3; //Lavender Pink
$color-clouds: #787492; // Lavender Gray
$color-night: #282E54; // Dark Purple
$success: #6fce72; // green
$alert: $color-alert; // red
