$color-1: #FFDD91; // Yellow
$color-2: #D6B2A5; // Dusty Pink 
$color-3: #B093A3; //Lavender Pink
$color-4: #787492; // Lavender Gray
$color-5: #282E54; // Dark Purple
$success: #6fce72; // green
$alert: $color-3; // red
