//colors
$color-sun: #FFDD91; // Yellow
$color-rays: #D6B2A5; // Dusty Pink 
$color-clouds: #B093A3; //Lavender Pink
$color-night: #787492; // Lavender Gray
$color-midnight: #282E54; // Dark Purple
$link-visited: 	#fa9364; //grey 
$bg-white:#fff; 