// extensions 
.links {
    a {
        color:$color-rays;
        font-family:$secondary-font ;
    }

    &:visited {
        color: $color-sun;
    }

    &:hover {
        color: $color-sun;
        text-decoration: underline;
    }
}